
@media screen and (max-width:425px){

    .iconEye{
        top:42px;
        right:50px;
    }

    .login_text{
        margin-top:90px;
    }

    .login form{
        margin-top:10px;
    }

    .login_label{
        flex-direction:column;
        align-items:flex-start;
        line-height:2rem;
    }
    
    .login_label input{
        margin-left:0;
        margin-bottom:0.1rem;
        width:90%;
    }

    .login_buttonContainer{
        margin-top:0.8rem;
        margin-bottom:40px;
        margin-left:0px;
    }

    .button{
        width:120px;
    }
}


